# npm packages
node_modules

# code coverage
coverage

# output folder
dist

# npm logs
npm-debug.log
node-debug.log

# generated code for example pages
examples/requirejs/require.config.js
examples/webpack/dist

# npm settings file
.npmrc
